<div id="navContainer" class="p-shadow-24">

  <nav id="navButtonsColumn">
    <button pButton pRipple type="button" class="p-button-rounded p-button-secondary"
              routerLink="me" routerLinkActive="p-shadow-14" label="About me"></button>
    <button pButton pRipple type="button" class="p-button-rounded p-button-secondary"
              routerLink="projects" routerLinkActive="p-shadow-14" label="Some projects"></button>
    <button pButton pRipple type="button" class="p-button-rounded p-button-secondary"
              routerLink="resume" routerLinkActive="p-shadow-14" label="My resume"></button>
    <button pButton pRipple type="button" class="p-button-rounded p-button-secondary"
              routerLink="contact" routerLinkActive="p-shadow-14" label="Contact me"></button>
  </nav>

  <div id="navRobotColumn">
    <div id="navRobot"></div>
  </div>
</div>
