section {
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 2%;
  width: 40%;
}

#robot {
  display: block;
  margin: 10% auto 0 auto;
  height: 50vh;
}

#name {
  padding-top: 4%;
  width: 100%;
}
